@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}

#github{
    width: 100px;
    position: fixed;
    right: 10px;
    top: 50px;
    transition: all 0.5s
}

#github:hover{
    transform: scale(2);
}

#linkedin{
    width: 60px;
    position: fixed;
    right: 30px;
    top: 150px;
    transition: all 0.5s;
}

#linkedin:hover{
    transform: scale(2);
}

#whatsapp{
    width: 45px;
    position: fixed;
    right: 38px;
    top: 260px;
    transition: all 0.5s;
}

#whatsapp:hover{
    transform: scale(2);
}

#stack{
    width: 45px;
    position: fixed;
    right: 38px;
    top: 350px;
    transition: all 0.5s;
}

#stack:hover{
    transform: scale(2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}